*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(214, 214, 214);
    background-image: url('./assets/Pueblo_Paleta_HGSS.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.nav{
    background-color: rgb(78, 12, 12);
    padding: 20px 0;
    gap: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.pokemon-logo{
    height: 10%;
    width: 10%;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 25px;
}

.nav-container a{
    color: white;
    list-style: none;
    text-decoration: none;
    gap: 0 25px;
}


.container-descripcion{
    padding: 40px 10px;
    border: white 10px solid;
    background-color: rgb(78, 12, 12);
    width: 80%;
    margin: 5% auto;
    text-align: center;
    gap: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-descripcion hr{
    width: 80%;
}


.container-lista{
    padding: 40px 10px;
    border: white 10px solid;
    background-color: rgb(78, 12, 12);
    width: 80%;
    margin: 5% auto;
    text-align: center;
    gap: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   